body {
  font-family: Nunito, sans-serif;
  margin: 0 10%;
}

.container {
  display: flex;
  justify-content: space-around;
}

header {
  margin-top: 1%;
  font-size: 1.2em;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

a.styled {
  color: crimson;
  text-decoration: none;
}

a:hover.styled {
  color: darkred;
}

#id_title.art_title {
  width: 20vw;
  height: 2em;
  border-radius: 1em;
  padding: 0.5em;
}

#id_text {
  width: 60vw;
  height: 60vh;
  border-radius: 1em;
  padding: 0.5em;
}

#id_genre {
  padding: 0.5em;
  border-radius: 1em;
}

#id_tags {
  border-radius: 1em 0 0 1em;
  padding: 0.5em;
  overflow-y: scroll;
  width: 10vw;
}

.form {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 2em;
}

.form-row {
  font-weight: bold;
}

button {
  border-radius: 1em;
  color: #333333;
  padding: 0.5em;
}

button:hover {
  color: darkgray;
}

.errorlist li {
  color: red;
  font-weight: bold;
  list-style: none;
}
