body {
  font-family: Nunito, sans-serif;
  margin: 0;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-around;
}

a {
  color: #bbbbbb;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

a.styled {
  color: crimson;
  text-decoration: none;
}

a:hover.styled {
  color: darkred;
}

.form {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 0.5em;
  color: dimgrey;
  padding: 0.5em;
  font-size: 1.1em;
}

button:hover {
  color: darkgray;
}

.errorlist li {
  color: red;
  font-weight: bold;
  margin: 0;
  list-style: none outside none;
}

form {
  width: 40vw;
  background-color: #121212;
  padding: 3em;
  border-radius: 1em;
}