body {
  font-family: Nunito, sans-serif;
  margin: 0 10%;
}

.container {
  display: flex;
  justify-content: space-around;
}

header {
  margin-top: 1%;
  font-size: 1.2em;
}

a {
  color: dimgrey;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

a.styled {
  color: crimson;
  text-decoration: none;
}

a:hover.styled {
  color: darkred;
}

.form {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 1em;
  color: dimgrey;
  padding: 0.5em;
}

button:hover {
  color: darkgray;
}

.errorlist li {
  color: red;
  font-weight: bold;
  margin: 0;
  list-style: none outside none;
}

form {
  width: 40vw;
  background-color: whitesmoke;
  padding: 3em;
  border-radius: 1em;
}