.area {
    display: flex;
    justify-content: center;
}
.main_form {
    background-color: #121212;
    width: 25vw;
    height: 60vh;
    border-radius: 1em;
    padding: 3em;
}
label {
    font-size: 1.6em;
}
input[type='text'], input[type='email'] {
    width: 10vw;
    height: 2.5vh;
    padding: 0.2em;
}
button {
    width: 10vw;
    height: 2.5vh;
}