body {
  font-family: Nunito, sans-serif;
}

.container {
  display: flex;
}

header {
  margin: 1% 10%;
  font-size: 1.2em;
}

header .container {
  justify-content: space-around;
}

.area {
  margin: 1% 10%;
  background-color: whitesmoke;
  border-radius: 1em;
  padding: 2em;
}

.area h1 {
  text-align: center;
}

li {
  font-weight: bold;
}

.header_article {
  display: flex;
  justify-content: space-between;
}

.header_article img {
  height: 1em;
  width: 1em;
}

.header_article article {
  font-size: 0.9em;
}

a {
  color: dimgrey;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

a.ref_main {
  color: crimson;
}

a.ref_main:hover {
  color: darkred;
}

.tag {
  color: crimson;
}

.tag:hover {
  color: darkred;
}
pre {
    font-family: Nunito, sans-serif;
}