{% extends 'base_login.html' %}
{% block form %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next|default:'/forum/news/1/' }}" />
        {{ form.non_field_errors }}
        <p class="form-row"><label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>{{ form.username }}</p>
        {{ form.username.errors }}
        <p class="form-row"><label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>{{ form.password }}</p>
        {{ form.password.errors }}
        <a href="{% url 'users:register' %}">Регистрация</a>
        <div class="center">
            <button type="submit"><b>Войти</b></button>
        </div>
    </form>
{% endblock %}