{% extends 'base_login.html' %}
{% block form %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next|default:'/forum/news/1/' }}"/>
        {{ form.non_field_errors }}
        <p class="form-row"><label
                for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>{{ form.old_password }}
        </p>
        {{ form.old_password.errors }}
        <p class="form-row"><label
                for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>{{ form.new_password1 }}
        </p>
        {{ form.new_password1.errors }}
        <p class="form-row"><label
                for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>{{ form.new_password2 }}
        </p>
        {{ form.new_password2.errors }}
        <a href="{% url 'users:log_in' %}">Вход</a>
        <div class="center">
            <button type="submit"><b>Войти</b></button>
        </div>
    </form>
{% endblock %}