body {
    font-family: Nunito, sans-serif;
    margin: 0;
    background-color: black;
    color: gainsboro;
}

.container {
    display: flex;
}

header {
    margin: 1% 10%;
    font-size: 1.2em;
}

header .container {
    justify-content: space-around;
}

.low_colored {
    color: darkgray;
}

a {
    color: #bbbbbb;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

a.ref_main {
    color: crimson;
}

a.ref_main:hover {
    color: darkred;
}

.container.area {
    justify-content: center;
}

.form_area {
    background-color: #121212;
    width: 25vw;
    border-radius: 1em;
    padding: 1em;
}

button[type="submit"] {
    height: 2.5em;
    margin: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.errorlist li {
    color: #a41515;
    font-weight: bold;
    margin: 0;
}

input {
    width: 100%;
    height: 2em;
}

p.form-row {
    text-align: center;
}

p.form-row * {
    margin-top: 1em;
}

label {
    font-size: 1.3em;
}

.center {
    display: flex;
    justify-content: center;
}