body {
    font-family: Nunito, sans-serif;
    margin: 0;
    background-color: black;
    color: lavenderblush;
    min-width: 940px;
}

.container {
    display: flex;
    justify-content: space-around;
}

header {
    font-size: 1.2em;
    margin: 1% 10%;
}

a.styled {
    color: crimson;
    text-decoration: none;
}

a:hover.styled {
    color: darkred;
}

a {
    color: #bbbbbb;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}