body {
  font-family: Nunito, sans-serif;
  margin: 0;
  background-color: black;
  color: lavenderblush;
}

.container {
  display: flex;
  justify-content: space-around;
}

a {
  color: #bbbbbb;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

a.styled {
  color: crimson;
  text-decoration: none;
}

a:hover.styled {
  color: darkred;
}
.main_header {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.area {
  width: 60vw;
  border-radius: 1em;
  padding: 0;
}
.grey {
  background-color: #121212;
}
.align_center {
  text-align: center;
}
.flex_header {
  display: flex;
  border-radius: 1em;
}
.img_side {
  background-color: #121212;
  width: 13vw;
  height: 14vw;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
  min-height: 185px;
  min-width: 142px;
}
.img_side img {
  height: 13vw;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  min-height: 142px;
}
.full_img_side {
  background-color: #121212;
  width: 14vw;
  height: 14vw;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
  min-height: 185px;
  min-width: 142px;
}
img.full_block {
  height: 13vw;
}
.edit {
  height: 1vw;
  padding: 1em;
  border-top: 1px solid black;
  min-height: 25px;
}
.text_side_head {
  width: 45vw;
  margin-left: 1vw;
  background-color: #121212;
  border-radius: 1em;
  padding: 1em;
  border: 1px solid black;
}
.text_side_head hr {
  background-color: #121212;
  margin-top: 0.8em;
}
.header_text {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}
.area.second {
  padding: 0.5em;
  box-sizing: border-box;
}

/*Список статей*/
.area .article img {
  height: 110px;
  width: 196px;
  border-radius: 1em;
  display: inline-block;
}
.text_side {
  width: calc(100% - 196px - 1em)
}
.text_side_space p{
  margin: 0.3em;
}
article {
  margin: 0.8em;
}
.genre {
  color: crimson;
}
.genre:hover {
  color: darkred;
}
.text_side p {
  margin: 0.5em;
}
nav.pages {
  display: flex;
  justify-content: center;
}
.page {
  margin: 0.1em;
  font-size: 1.1em;
}