{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S&M</title>
  <link rel="shortcut icon" href="{% static 'img/img.png' %}">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
  </style>
  <link href="{% static 'css/style_add_page.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <nav class="container">
      <div><a class="ref_main" href="{% url 'articles' 'vse-kategorii' %}">Форум</a> | <a href="{% url 'news' 1 %}" class="ref_main">Новости</a></div>
      <div>S&M</div>
      <div><a href="#">Войти</a></div>
    </nav>
    <hr>
  </header>
  <main>
    <article class="container">
      <div class="area">
        <p><b class="head_form"> Вход </b></p>
      </div>
    </article>
  </main>
</body>
</html>