{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S&M</title>
  <link rel="shortcut icon" href="{% static 'img/img.png' %}">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
  </style>
  <link href="{% static 'css/style_delete_page.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <nav class="container">
      <div><a class="styled" href="{% url 'articles' 'vse-kategorii' '1'%}">Форум</a> | <a href="{% url 'news' 1 %}" class="styled">Новости</a></div>
      <div>S&M</div>
          {% if user.is_authenticated %}
            <div>{{ user.username }}</div>
          {% else %}
            <div><a href="{% url 'users:log_in' %}?next={{ request.path }}">Войти</a></div>
          {% endif %}
    </nav>
    <hr>
  </header>
  <main>
      <div class="form">
          <form method="POST" enctype="multipart/form-data">
              <p>Вы действительно хотите удалить <a href="{{ object.get_absolute_url }}">{{ object }}</a>?</p>
              <p>{{ form }}</p>
              <form method="post">
                  {% csrf_token %}
                  <button type="submit">Подтвердить удаление статьи</button>
              </form>
          </form>
      </div>
  </main>
</body>
</html>