{% load static %}
{% load article_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S&M</title>
  <link rel="shortcut icon" href="{% static 'img/img.png' %}">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
  </style>
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div><a href="{% url 'articles' 'vse-kategorii' %}" class="navig">Форум</a> | <div class="selected news">Новости</div></div>
        <div>S&M</div>
        <div><a href="#">Войти</a></div>
      </div>
    </nav>
    <hr>
  </header>
  <main>
    <div class="container">
      <div class="area">
        {% news page as ns %}
        {% for n in ns %}
          <article>
            <div class="container">
              <a href="{{ n.ref }}"><img src="{{ n.img_src }}" alt="picture"></a>
              <div class="text_side">
                <b><a href="{{ n.ref }}"><p>{{ n.title }}</p></a></b>
                <p class="genre">Made by StopGame</p>
              </div>
            </div>
            <hr>
          </article>
        {% endfor %}
        <div class="pages">
            {% pages page as pages %}
            {% for p in pages %}
              {% if p != page %}
              <div class="number"><a href="{% url 'news' p %}">{{ p }}</a></div>
              {% else %}
                  <div class="number"><b>{{ p }}</b></div>
              {% endif %}
            {% endfor %}
              <div class="number">...</div>
        </div>
      </div>
        <div class="container vertical">
          <nav>
            <img src="{% static 'img/StopGame_logo.svg.png' %}" alt="stopgame_logo"/>
            <article>
              <p>StopGame.ru (или просто StopGame) — российский игровой интернет-портал. Один из первых российских сайтов, на постоянной основе запустивших игровые стримы. Сайт также известен документальными сериалами о компьютерных играх, публикующихся на официальном YouTube-канале.</p>
              <p>Именно с этого сайта копируются посты в новостной колонке</p>
              <p><a href="https://stopgame.ru/">Оффициальный сайт</a></p>
              <p><a href="https://youtube.com/channel/UCq7JZ8ATgQWeu6sDM1czjhg">Ютуб канал</a> </p>
            </article>
          </nav>
          <nav>
            <article>
              <h1>S&M - форум об играх и не только.</h1>
              <p>Форум находится в режиме постоянной доработки. Для технической поддержки, сотрудничества, рекламы или баг-репорта писать на почту: <b>savam.0510@gmail.com</b></p>
            </article>
          </nav>
        </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div><p><a href="#">Ютуб</a> | <a href="#">Инстаграм</a> | <a href="#">Твиттер</a> | <a href="#">Вконтакте</a> </p></div>
      <div><p>Для связи: <a href="https://github.com/sakuta02" class="git">GitHub</a> | gmail: <b>savam.0510@gmail.com</b></p></div>
    </div>
  </footer>
</body>
</html>