{% extends 'header.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'forum/css/user/edit_user.css' %}" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}
    <article class="area">
        <div class="main_form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="form-row"><label for="{{ form.username.id_for_label }}"> {{ form.username.label }}</label>
                <p>{{ form.username }}</p>
                <p class="err"> {{ form.username.errors }} </p>
                <p class="form-row"><label for="{{ form.email.id_for_label }}"> {{ form.email.label }} </label>
                <p>{{ form.email }}</p>
                <p class="err"> {{ form.email.errors }} </p>
                <p class="form-row"><label for="{{ form.photo.id_for_label }}"> {{ form.photo.label }} </label>
                <p>Идеальный формат изображения - 1x1</p>
                <p>{{ form.photo }}</p>
                <p class="err"> {{ form.photo.errors }} </p>
                <p>{{ form.non_field_errors }}</p>
                <button type="submit">Применить</button>
                <p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
            </form>
        </div>
    </article>
{% endblock %}