{% extends 'header.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'forum/css/user/show_user.css' %}" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}
    <main>
        <article class="main_header">
            <article class="area">
                <article class="flex_header">
                        <div class="full_img_side">
                            <img class="full_block" src="{{ url_pic }}" alt="profile">
                        </div>
                    <div class="text_side_head">
                        <div class="header_text">
                            <div class="username">{{ user.username }}</div>
                            <div class="online">
                                {% if user.is_active %}
                                    В сети
                                {% else %}
                                    Не в сети
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <p>Дата регистрации: {{ user.date_joined }}</p>
                        <p>Роль: {% if user.is_staff %}администратор{% else %}пользователь{% endif %}</p>
                        {% if user == request.user %}
                            <p><a href="{% url 'edit_profile' user.id %}">Редактировать профиль</a></p>
                            <p><a href="{% url 'users:log_out' %}">Выйти из аккаунта</a></p>
                        {% endif %}
                    </div>
                </article>
            </article>
        </article>
        <article class="main_header">
            <article class="area second grey">
                <h3 class="align_center">Список авторских статей</h3>
                {% for a in articles %}
                    {% if a.img %}
                        <article class="article">
                            <div class="container">
                                <a href="{{ a.get_absolute_url }}"><img src="{% static a.img %}" alt="picture"></a>
                                <div class="text_side">
                                    <p><b><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></b></p>
                                    <p><a href="{{ a.genre.get_absolute_url }}" class="genre">{{ a.genre }}</a></p>
                                    {% if a.tag %}
                                        <p>{% for t in a.tag.all %}
                                            {% if not forloop.last %}
                                                <a href="?tag={{ t.slug }}" class="genre">{{ t.tag }}</a> |
                                            {% else %}
                                                <a href="?tag={{ t.slug }}" class="genre">{{ t.tag }}</a>
                                            {% endif %}{% endfor %}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr/>
                        </article>
                    {% else %}
                        <article>
                            <div class="text_side_space">
                                <p><b><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></b></p>
                                <p><a href="{{ a.genre.get_absolute_url }}" class="genre">{{ a.genre }}</a></p>
                                <p>{% for t in a.tag.all %}
                                    {% if not forloop.last %}
                                        <a href="?tag={{ t.slug }}" class="genre">{{ t.tag }}</a> |
                                    {% else %}
                                        <a href="?tag={{ t.slug }}" class="genre">{{ t.tag }}</a>
                                    {% endif %}{% endfor %}</p>
                            </div>
                            <hr>
                        </article>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_other_pages %}
                    <nav class="pages">
                        {% for p in paginator.page_range %}
                            {% if p <= page|add:4 and p >= page|add:-4 %}
                                {% if p != page %}
                                    <a class='page' href="{% url 'articles' genre p %}">{{ p }}</a>
                                {% else %}
                                    <div class="page"><b>{{ p }}</b></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </nav>
                {% endif %}
            </article>
        </article>
    </main>
{% endblock %}